**/.venv/
**/__pycache__/
WebService/WebApp/node_modules/
UserService/UserAPI/.venv/
UserService/UserAPI/__pycache__/
AlertService/AlertAPI/.venv/
AlertService/AlertAPI/__pycache__/
**/node_modules/







