# TODO: change restart to "always" in production
version: "3.9"
services:

  reservationservice:
    build:
      context: .
      dockerfile: ./ReservationService/Dockerfile
    restart: on-failure # always
    environment:
      DB_URL: dbservice
      DB_NAME: sejong
      DB_PORT: 3306
      DB_USERNAME: development
      DB_PASSWORD: 1234
    ports:
      - "5000:5000"
    volumes:
      - ./ReservationService/ReservationAPI:/ReservationAPI
    # depends_on:
    #   - dbservice

  userservice:
    build:
      context: .
      dockerfile: ./UserService/Dockerfile
    restart: on-failure # always
    environment:
      DB_URL: dbservice
      DB_NAME: sejong
      DB_PORT: 3306
      DB_USERNAME: development
      DB_PASSWORD: 1234
    ports:
      - "5001:5000"

  adminservice:
    build:
      context: .
      dockerfile: ./AdminService/Dockerfile
    restart: on-failure # always
    environment:
      DB_URL: dbservice
      DB_NAME: sejong
      DB_PORT: 3306
      DB_USERNAME: development
      DB_PASSWORD: 1234
    ports:
      - "5002:5000"

  alertservice:
    build:
      context: .
      dockerfile: ./AlertService/dockerfile
    restart: always
    ports:
      - "5003:5000"

  dbmanager:
    #container_name: dbmanager
    image: adminer:latest
    restart: on-failure #always
    ports:
      - "9999:8080"

  dbservice:
    #container_name: dbservice
    image: mariadb:11.0-rc-jammy
    restart: on-failure # always
    env_file:
      ./DBService/maria-env
    environment:
      TZ: Asia/Seoul
    volumes:
      - ./DBService/maria-init.sql:/docker-entrypoint-initdb.d/maria-init.sql
        #- ./DBService/data:/var/lib/mysql
    ports:
      - "3306:3306"

  gatewayservice:
    image: nginx:latest
    #container_name: production_nginx
    volumes:
      - ./Common/nginx_reverse_proxy.conf:/etc/nginx/conf.d/default.conf
      - ./Common/nginx_proxy_params.conf:/etc/nginx/proxy_params
      # - /home/xx/Desktop/cust/xx/Docker/nginx/cert/star_xx_com.pem:/etc/nginx/cert/star_xx_com.pem
      # - /home/xx/Desktop/cust/xx/Docker/nginx/cert/star_xx_com.key:/etc/nginx/cert/star_xx_com.key
      # - /home/xx/Desktop/cust/xx/Docker/nginx/cert/star_xx_com.crt:/etc/nginx/cert/star_xx_com.crt
    ports:
      - 8080:8080
      - 80:80
