// fonts
// @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
* {
  font-family: /*'Gothic A1',*/ 'Nanum Myeongjo', serif;
  box-sizing: border-box;
}

// 갤럭시폴드
@media(max-width : 320px) {
  span, input {
    font-size : 0.9rem !important;
  }
}

// @import "bootstrap/scss/bootstrap.scss";

// colors
$sejong-red : rgb(195, 0, 47);
$sejong-red-10 : rgba(195, 0, 47, 0.1);
$sejong-red-20 : rgba(195, 0, 47, 0.2);
$sejong-red-30 : rgba(195, 0, 47, 0.3);
$sejong-red-40 : rgba(195, 0, 47, 0.4);
$sejong-red-50 : rgba(195, 0, 47, 0.5);
$sejong-red-60 : rgba(195, 0, 47, 0.6);
$sejong-red-70 : rgba(195, 0, 47, 0.7);
$sejong-red-80 : rgba(195, 0, 47, 0.8);
$sejong-red-90 : rgba(195, 0, 47, 0.9);
$almost-sejong-red : #bd6076;
$light-sejong-red : #f0d6dc;

$sejong-grey : rgb(81, 98, 111);
$sejong-grey-10 : rgba(81, 98, 111, 0.1);
$sejong-grey-20 : rgba(81, 98, 111, 0.2);
$sejong-grey-30 : rgba(81, 98, 111, 0.3);
$sejong-grey-40 : rgba(81, 98, 111, 0.4);
$sejong-grey-50 : rgba(81, 98, 111, 0.5);
$sejong-grey-60 : rgba(81, 98, 111, 0.6);
$sejong-grey-70 : rgba(81, 98, 111, 0.7);
$sejong-grey-80 : rgba(81, 98, 111, 0.8);
$sejong-grey-90 : rgba(81, 98, 111, 0.9);

$bg-grey : #F6F6F650;

$white-30 : rgba(255,255,255,0.3);
$white-50 : rgba(255,255,255,0.5);
$white-80 : rgba(255,255,255,0.8);


// size
$header-height : 90px;
$footer-height : 270px;
// $routerview-minheight : calc( calc(100vh - ($header-height)) - $footer-height);
$routerview-minheight : calc( calc(100vh - ($header-height) - $footer-height));
$routerview-padding : 64px 32px 128px 32px;
$routerview-mobile-padding : 32px 16px 64px 16px;

$button-margin : 4px;
$button-padding : 8px;

$box-radius : 0.5rem;

// util
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}